// ---------------------------
// ***General Element Rules***
// ---------------------------

body{
    margin: 0;
    padding: 0;
    // height: 100vh;
    font-size: 100%;
    background-image: url("../img/pexels-photo-459411.jpeg");
    background-repeat: repeat;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6, .nav-list{
    margin: 0;
    padding: 0;
}
.purple{
    background-color: purple; //to test divs
}
.test{ //Constantly changing test class - Delete later
    width: 100%;
}

// -------------------
// ***Flexbox Rules***
// -------------------

.flex{
    display: flex;
}
.v-center{
    align-items: center;
}
.top-nav{
    color: #aaaaaa; //temp
    min-height: 10rem; //temp
    // background-color: yellow; //temp
}
.logo{
    // To be defined
}
.nav-list-div{
    // To be defined
}
.space-between{
    justify-content: space-between;
}
.top-nav-list{
    // To be defined
}
.nav-item{
    font-size: 2rem;
    list-style-type: none;
    margin-right: 1.5rem;
}
.flex-dir-col{
    flex-direction: column;
}
.h-center{
    justify-content: center;
}
.banner-title{
    color: #aaaaaa;
    min-height: 15rem;
    // background-color: purple; //temp
    padding-top: 25vh;
}
.banner-title h1{
    font-size: 4rem; //Large font sizes ruining scaling
                     //Look into media queries to change font size as you scale
}
.banner-title h3{
    font-size: 2rem;
}

// ---------------------
// ***Bootstrap Section Related Rules***
// ---------------------

// ***Row / Column General***

.opaque{
    background-color: white;
}
.transparent{
    // To be defined
}

// *** Bio Section

.bio-section{
    // To be defined
}
div.thumbnail img.bio-pic{
    // max-width: 250px; //Need after sorting out parent row / column height?
    // max-width: 250px;
    
}
.bio-col,{
    min-height: 25rem;
}
.bio-col h2{
    padding: 3rem;
    // font-size: 3rem;
}

// *** Skills Section

.skills-section{
    background-image: url("../img/pexels-photo-276452.jpeg");
}
.section-title-col{
    // To be defined
}
.section-title{
    color: #ffffff;
    padding-top: 2em;
    padding-bottom: 2em;
}
.skills-wrapper-row{
    // To be defined
}
.skills-col{
    // To be defined
}
.skills-row{
    // To be defined
}

// *** Portfolio Section

.section-title.portfolio-title h1{
    display: inline-block;
    padding: .25em;
    border-radius: 25px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .85);
}
.portfolio-wrapper-row{
    // To be defined
}
.portfolio-col{
    // To be defined
}
.squared{
    height: 320px;
    width: 320px;
    margin: auto;
}
.squared-portfolio{
    height: 240px;
    width: 240px;
    margin: auto;
}
.kanban{
    font-family: "Rock Salt", cursive;
}

// *** Tile card rules (Probably need to resort these into the above categories)

.tilez{
    border-radius: 15px;
}
.bio-pic-tile{
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 100px #000000;
    border-radius: 50%;
    margin-top: 2em;
    margin-bottom: 2em;
}
div.bio-pic-tile img.bio-pic{
    border: 3px solid #000000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;
}
.bio-quote-tile{
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 100px #000000;
    color: #ffffff;
    min-height: 320px;
    margin-top: 2rem;
}
.skills-tile{
    background-color: rgba(200, 200, 200, .85);
    box-shadow: 0 0 100px #aaaaaa;
    margin-bottom: 5em;
    padding-top: 50px;
}
.skills-thumb-img{
    height: 150px;
    width: 150px;
}
.thumb-caption{
    color: #000000;
    padding: 1em;
    display: inline-block;
    border-bottom: 1px solid #000000;
}
.thumb-caption-text{
    font-size: 2em;
}
.portfolio-tile{
    position: relative;
    // background-color: rgba(0, 0, 0, .65);
    // box-shadow: 0 0 100px #000000;
    margin-bottom: 5em;
}
div.portfolio-glass{
    position: absolute;
    top: 0;
    left: 0;
    height: 240px;
    width: 240px;
    padding: 40px;
    display: none;
}
div.portfolio-tile:hover div.portfolio-glass{
    display: block;
    background-color: rgba(0, 0, 0, .75);
}
.portfolio-glass-title{
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
}
.portfolio-glass-text{
    color: #ffffff;
}
.portfolio-thumb-img{
    width: 100%;
    border-radius: 15px;
}

// *** Contact Section

.contact-section{
    background-color: #666666;
    color: white;
    min-height: 20rem;
    line-height: 20rem;
}
.contact-line{
    font-size: 6rem;
}
.contact-text{
    font-size: 3rem;
    line-height: 16px;
}
.github-span{
    color: #171515;
}
.slack-span{
    color: #e8a723;
}
.linkedin-span{
    color: #007bb6;
}
.facebook-span{
    color: #3b5998;
}
.reddit-span{
    color: #ff3f18;
}
.skype-span{
    color: #00aef0;
}
// ------------------
// ***Custom Rules***
// ------------------

.bck-norpt{
    background-size: cover;
    background-repeat: no-repeat;
}
.banner{
    min-height: 100vh;
    background-image: url("../img/pexels-photo-360912-25percent.jpg");
}
.bck-rpt{
    background-repeat: repeat;
}
.main-body{
    // To be defined
}

// --------------------
// ***Media Queries ***
// --------------------

@media screen and (min-width: 540px){
    .banner-title{
        // height: 20rem; //Change base height propery to min-height. Maybe delete this?
    }
    .banner-title h1{
        font-size: 6rem;
    }
    .banner-title h3{
        font-size: 3rem;
    }
}
@media screen and (min-width: 768px){
    .banner-title{
        // height: 25rem; //Change base height propery to min-height. Maybe delete this?
    }
    .banner-title h1{
        font-size: 8rem;
    }
    .banner-title h3{
        font-size: 4rem;
    }
}
@media screen and (min-width: 1080px){
    .banner-title{
        // height: 30rem; //Change base height propery to min-height. Maybe delete this?
    }
    .banner-title h1{
        font-size: 12rem;
    }
    .banner-title h3{
        font-size: 6rem;
    }
}
@media screen and (min-width: 1440px){
    .banner-title{
        // height: 35rem; //Change base height propery to min-height. Maybe delete this?
    }
    .banner-title h1{
        font-size: 16rem;
    }
    .banner-title h3{
        font-size: 8rem;
    }
}
@media screen and (min-width: 1800px){
    .banner-title{
        // height: 40rem; //Change base height propery to min-height. Maybe delete this?
    }
    .banner-title h1{
        font-size: 20rem;
    }
    .banner-title h3{
        font-size: 10rem;
    }
}