// ---------------------------
// ***General Element Rules***
// ---------------------------

body{
    margin: 0;
    height: 100vh;
    background-image: url("../img/pexels-photo-235994.jpeg");
    background-repeat: repeat;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6, .nav-list{
    margin: 0;
    padding: 0;
}

// -------------------
// ***Flexbox Rules***
// -------------------

.flex{
    display: flex;
}
.flex-dir-col{
    flex-direction: column;
}
.v-center{
    align-items: center;
}
.h-center{
    justify-content: center;
}
.h-flex-end{
    align-items: flex-end; 
}
.space-between{
    justify-content: space-between;
}

// ---------------------
// ***Bootstrap Section Related Rules***
// ---------------------

// ***Row / Column***
.opaque{
    background-image: url("../img/pexels-photo-220182.jpeg");
    height: 30rem;
}
.transparent{
    height: 30rem;
}

// ------------------
// ***Custom Rules***
// ------------------

.banner{
    min-height: 100vh;
    background-image: url("../img/pexels-photo-360912-25percent.jpg");
}
.bck-norpt{
    background-size: cover;
    background-repeat: no-repeat;
}
.bck-rpt{
    background-repeat: repeat;
}
.top-nav{
    color: #aaaaaa; //temp
    height: 10rem; //temp
    // background-color: yellow; //temp
}
.logo{
    margin-left: 1.5rem;
}
.nav-item{
    font-size: 2rem;
    list-style-type: none;
    margin-right: 1.5rem;
}
.banner-title{
    color: #aaaaaa;
    height: 40rem;
    // background-color: purple;
}
.banner-title h1{
    font-size: 5rem; //Large font sizes ruining scaling
                     //Look into media queries to change font size as you scale
}
.banner-title h3{
    font-size: 2.5rem;
}
.main-body{
    min-height: 70%;
}